<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demodatabase.dao.IUserDao">
    
    <resultMap id="entity" type="com.example.demodatabase.entities.UserEntities">
        <result column="user_id" property="userId"></result>
        <result column="user_name" property="userName"></result>
    </resultMap>

    <sql id="fields">
        t.id,
        t.user_id,
        t.user_name,
        t.password
    </sql>

    <select id="getList" resultMap="entity">
        select
            <include refid="fields"></include>
        from user t
    </select>
</mapper>