<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ds.dao.IDataSourceDao">

    <sql id="fields">
        `id`,
        `name`,
        `type`,
        `account`,
        `password`,
        `ip`,
        `port`,
        `database`,
        `url`
    </sql>


    <insert id="add" parameterType="com.example.ds.entities.DataSourceEntity">
        insert into datasource
        (
            `name`,
            `type`,
            `account`,
            `password`,
            `ip`,
            `port`,
            `database`,
            `url`
        )
        values
        (
            #{name},
            #{type},
            #{account},
            #{password},
            #{ip},
            #{port},
            #{database},
            #{url}
        )
    </insert>

    <update id="modify">
        update
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="account != null">
                account = #{account},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="ip != null">
                ip = #{ip},
            </if>
            <if test="port != null">
                port = #{port},
            </if>
            <if test="database != null">
                database = #{database},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
        </set>
        from datasource
        where id = #{id}
    </update>

    <delete id="remove">
        delete from datasource where id = #{id}
    </delete>

    <select id="getList" resultType="com.example.ds.entities.DataSourceEntity">
        select <include refid="fields"></include>
        from datasource
    </select>
</mapper>